/* You can add global styles to this file, and also import other style files */

/*@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');*/
h3 {
    color: white;
    font-weight: bold;
}
.title {
    text-align: center;
    vertical-align: bottom;
    background-color:lightskyblue;
    height: 40px;
    padding-top: 5px;
}
.columnPan {
    height:80vh; 
    border-color: lightslategray; 
    border-style: solid;   
}

.form-control.ng-invalid.ng-touched{
    border: 4px solid red
    }